
<!--<div class="row"  ng-controller="SendCommentForDeleteCtrl" ng-repeat="commentdetail in comments | where:{commentId: commentforedit}">-->
    <!--<form  name="commentEditForm"  class="form-horizontal" novalidate ng-submit="commentEditForm.$valid  && sendCommentforEdit(comment)">-->
        <!--<div>-->
            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">-->
                <!--<h3>Edit comment</h3>-->
            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">-->
                <!--<div class="form-group">-->
                    <!--<label for="lastName">comment* now: {{commentdetail.commentContent}}</label>-->
                    <!--<input type="text" class="form-control" id="lastName" placeholder="lastName" required ng-model="comment.commentContent"/>-->
                <!--</div>-->
            <!--</div>-->
                <!--<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">-->
                    <!--<div class="form-group">-->
                        <!--<label >patirntId* now: {{commentdetail.patient}}</label>-->
                        <!--<input  class="checkbox" checked name="patientId"  value="{{commentdetail.patient}}" required ng-model="comment.patient"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-xs-offset-6 col-md-3 col-md-offset-6 col-lg-2 col-lg-offset-6">-->
            <!--<button type="submit" class="btn btn-default btn-block" ng-disabled="commentEditForm.$invalid">-->
                <!--Save patient</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--<a   role="button" class="btn btn-default" ng-click="sendCommentforEdit(comment)" > Edit  </a>-->
<p> Edit Comment will be added in version 0.2</p>
<a  role="button" class="btn btn-default"  ng-click="sendCommentforDelete(comment)" > delete  </a>