<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="patientsApp" th:replace="~{fragments/layout :: layout (~{::body},'hello')"}>
<head>
    <base href="/"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hospital</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/myStyle.css" rel="stylesheet"/>
</head>
<body ng-controller="PatientsCtrl" >
<div class="container">
    <p th:text="${science}"/>
</div>
<div class="container-fluid">
    <div class="row" >
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class=" col-md-12">
                    <div class="col-md-3">
                        <p></p>
                        <input type="text"  ng-model="query" placeholder="search"/>
                        <a href="/patient/save"  role="button" class="btn btn-default" > New Patient  </a>
                        <hr align="center" width="100%" size="3px" color="black"/>
                        <div class="overflow" >
                            <div role="tabpanel">
                                <ul class="nav " role="tablist" id="myTab" >
                                    <li  role="presentation"  ng-repeat="patient in patients | filter:query" >
                                        <a href="/patientdetails/{{patient.patientId}}"  role="button" class="btn">
                                            <p align="left">{{patient.firstName}} {{patient.lastName}} </p>
                                            <table class="text">
                                                <tr>
                                                    <td>{{patient.dateOfBirth}}</td>
                                                    <td class="rightcol">{{patient.sex}}</td>
                                                </tr>
                                            </table>
                                            <hr align="center" width="100%" size="1px" color="black"/>
                                        </a>
                                    </li>
                                    <li  hidden="true" role="presentation" class="active">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ng-view></ng-view>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/angular-filter.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
</body>
</html>